<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js" defer></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js" defer></script>
<script type="text/javascript" src="/resources/scripts/swf/js/entity_helper.js" defer></script>

<script type="text/javascript" src="/js/util.js" defer></script>
<link rel="preload" as="style" href="/css/portal.css" onload="this.onload=null;this.rel='stylesheet'" >

<script type="text/javascript">
    $(function () {
        new Vue({
            el: "#app",
            data: {
                user: Lockr.get("User") ,
                participants: [] ,
            },
            created: function () {
                let self = this;// Needed to set inside then statements
                api().url("/users/current").get().then(function (response) {
                    self.user = response;
                    Lockr.set("User",self.user);
                    return self.load_participants();
                }).finally(function () {
                    self.showApp();
                    hideSpinner();
                });
            },
            methods: {
                load_participants: function(){ 
                    let self = this;
                    return api().url("/network_participants").get({ q: "CREATOR_USER_ID:"+self.user.id} ).then(function(response2){
                        self.participants = response2.network_participants; 
                    })
                },
                showApp: function () {
                    $("#header").load("/htmlFragment/header", {}, function () {
                        fixMenu();
                        $("#pageTitle").html("");
                        $("#root").show();
                    });
                },
                blank:function(event){
                    event && event.preventDefault();
                    let self = this; 
                    window.location.href = "/network_participants/blank"
                },
                show:function(event,id){
                    event && event.preventDefault();
                    let self = this; 
                    window.location.href = "/network_participants/show/"+id;
                },
                destroy: function(event,id,index){
                    event && event.preventDefault();
                    let self = this; 
                    api().url("/network_participants/destroy/"+id).get().then(function(response){
                        self.participants.splice(index,1)
                    });
                }

            }
        });
    });
</script>
<div id="root" style="display:none;">
    <div id="header">
    </div>
    <div id="app" class="app-body">
        <div class="container">
            <div class="d-flex flex-row justify-content-end">
                <a href="#" class="m-1 btn btn-primary" @click="blank($event)">New Participant</a>
            </div>
            <h5>Your participation information</h5>
            <div class="row" v-if="participants.length == 0">
                <div class="col">
                    <div class="content-box my-2">
                        <h6 class="m-0">You are not participating in this network</h6>
                    </div>
                </div>
            </div>

            <div class="row" v-for="(participant,index) in participants">
                <div class="col">
                    <div class="content-box my-2">
                        <div class="row ">
                            <div class="col-9 d-flex justify-content-start">
                                <a href="#"  @click="show($event,participant.id)">{{participant.participant_id}}</a>
                            </div>
                            <div class="col-3 d-flex justify-content-end">
                                <a href="#" class="m-1  btn btn-primary fas fa-trash" @click="destroy($event,participant.id,index)">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

