<script type="application/javascript">

    function hideMenu() {
        $("#navbarTogglerDemo03").removeClass("show");
        return true;
    }


    function fixMenu(hide) {
        $(function () {
            let path = window.location.pathname;
            console.log('Path', path);
            if (window.innerWidth < 640) {
                (path === "/dashboard" ? $("#appmenu").show() & $("#backbutton").hide() : $("#appmenu").hide() & $("#backbutton").show());
                $("#pageTitleDesk").hide();
                $("#pageTitle").show();
            } else {
                $("#pageTitleDesk").show();
                $("#pageTitle").hide();
            }

            headerModel = makeHeaderVue(hide);
            hideSpinner(); //Defensive. remove all spinners after showApp.
        });
    }

    var headerModel;
    function updateHeader() {
        headerModel && headerModel.$forceUpdate();
    }

    function makeHeaderVue(hide) {
        return new Vue({
            el: "#header",
            data: {
                User: Lockr.get("User"),
                navbar: { hide: (hide ? true : false) },
            },
            methods: {
                back: function () {
                    if (window.history.length === 1) {
                        window.location.replace("/index");
                    } else {
                        window.history.back();
                    }
                }
            }
        });
    }
</script>

<p id="msg" class="mb-0 invisible"></p>
<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light"
                v-if="!(navbar && navbar.hide)">
                <button id="appmenu" class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button id="backbutton" class="navbar-toggler btn btn-light btn-back" @click="back()">
                    <i class="fa fa-chevron-left text-white"></i>
                </button>
                <a href="/dashboard" class="navbar-brand d-none d-sm-inline-block">
                    <!--
                        <img src="../images/beckn.png" alt="BecknOne" />
                    -->
                    <span>Beckn</span>One
                </a>
                <h5 id="pageTitle" class="m-0 title-text"></h5>
                <div class="navbar-brand">
                    <a href="/dashboard" class="d-flex justify-content-center d-block d-sm-none">
                        <span>Beckn</span>One
                        <!-- <img src="../images/beckn.png" class="d-block d-sm-none" alt="" />-->
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav">
                        <!--
                    <li class="nav-item text-right">
                        <img src="/resources/web_manifest/64x64.png" class="img-fluid p-2 px-3 d-inline-block" alt="">
                    </li>
                    -->
                        <li class="nav-item" >
                            <a class="nav-link" href="/dashboard" onclick="hideMenu()"><i class="fa fa-home"></i>
                                Home</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" v-bind:href='"/users/show/"+User.id' onclick="hideMenu()"><i
                                    class="fa fa-user-circle"></i>
                                Profile</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" v-bind:href='/beckn_apis/' onclick="hideMenu()"><i
                                    class="fas fa-bolt"></i>
                                Testing</a>
                        </li>
                        <li class="nav-item dropdown-submenu" >
                            <a class="nav-link dropdown-toggle" href="#" id="navbarPoliciesMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i>
                                Policies</a>
                            <ul class="dropdown-menu ml-auto mr-auto">
                                <li class="dropdown-item">
                                    <a class="nav-link" href="/markdown/terms" onclick="hideMenu()">
                                        <i class="fa fa-user"></i>
                                        Terms
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link" href="/markdown/privacy" onclick="hideMenu()">
                                        <i class="fa fa-user"></i>
                                        Privacy
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link" onclick="logout(event)" href="#" onclick="hideMenu()" v-if="User && User.name">
                                <i class="fa fa-power-off"></i> Logout</a>
                        </li>

                    </ul>
                    <div class="overlay" data-toggle="collapse" data-target="#navbarTogglerDemo03"></div>
                </div>
            </nav>
        </div>
    </div>
</div>


<div id="spinner" class="spinner-border spinner-border-sm bg-light invisible"
    style="height:50px ;width:50px ;position:fixed; left:45% ;top: 8%; z-index:3;">
</div>

<div class="fixed-bottom app-footer">
    <div class="row">
    </div>
</div>
